---

---

<div>
    <p class="text-lg md:text-xl mb-8 leading-relaxed">
        Mi meta es seguir creciendo como desarrolador web, explorando nuevas tecnologias y contribuyendo a proyectos que hagan una diferencia en la experiencia digital de los usuarios. En corto plazo me veo trabajando en proyectos de poco impacto, pero que me permitan seguir aprendiendo y mejorando mis habilidades. A mediano plazo, me gustaría participar en proyectos con mayor impacto y complejidad, donde pueda aplicar mis habilidades y aprender de otras personas y areas de desarrollo. A largo plazo me gustaría liderar proyectos que busquen mejorar la experiencia digital de los usuarios, creando aplicaciones web accesibles y fáciles de usar.
    </p>
</div>
