---

---

<div>
    <p class="text-lg md:text-xl mb-8 leading-relaxed">
        Núnca olvides que no estas solo en este camino, tienes a tu familia, amigos y seres queridos que siempre creen en ti y te apoyaran a cada paso que des. No te rindas, sigue adelante a pesar de todo, así como lo has hecho hasta ahora. Tu futuro es brillante y lleno de oportunidades, y estoy seguro de que lograrás todo lo que te propongas. Ten la esperanza que todo mejorara y que cada día es una oportunidad para poder cambiar nuestros destinos, debes cerrar esos ciclos infinitos y seguir adelante con esa deteerminación que te carecteriza. Lucha por tu familia y solo por ella.
        <span class="text-primary">¡Disfruta el proceso!</span>
    </p>
</div>
