---

---

<div>
    <p class="text-lg md:text-xl mb-8 leading-relaxed">
        Una problematica común en el desarrollo web es la falta de una visibilidad clara del proyecto y sus objetivos. Esto puede llevar a malentendidos entre los desarrolladores y los clientes, afectando la calidad del producto final. Al igual, la falta de un enfoque claro en la escalibilidad, puede resultar en aplicaciones que no pueden crecer con las necesidades del negocio y la demanda. Lo que busco es crear aplicaciones web que no solo sean funcionales, sino que también sean escalables y fáciles de mantener a largo plazo. Pero lo mas importante es que estas aplicaciones sean accesibles y fáciles de usar para todos los usuarios, independientemente de sus habilidades técnicas y motrices. Debemos asegurarnos de que todos tengan acceso a la tecnología y puedan beneficiarse de ella sin la exclusión de las minorías.
    </p>
</div>
